.home {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  flex-direction: column;
  
  overflow: hidden;
  
}

#welcome {
  padding-top: 150px;
  color: #ff9900; 
  font-size: 120px;
  text-align: center;
  text-shadow: 1px 1px 2px #ff5900;
}

#langButtons {
    margin-bottom: 20px; 
    position: fixed;
    top: 420px;
}

button {
  font-family: 'Raleway', sans-serif;
  margin: 50px 10px;

  height: 150px; 
  width: 150px;
  border-radius: 20px;
  
  background-color: #3796bf;
  color: white;
  font-size: 30px;
}

button:focus {
  outline: none;
  border: 5px solid #ff9900; 
  border-radius: 20px;
  
}

#btn-start {
  border: 2px solid #fff;
  height: 40px; 
  width: 100px; 
  border-radius: 20px;
  padding: 15px 15px 0px;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  position: fixed;
  top: 650px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  background-color: rgba(255,255,255, 0.3);
}

.translationPage {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  overflow: hidden;
}

#microphone-btn {
  border: 2px solid #ff9900;
  height: 40px; 
  width: 100px; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  font-size: 15px;
  text-align: center;
  color: #3796bf;
  font-weight: 900;
  padding-top: 2px; 
  background-color: white;
  margin-top: 10px
}

.description {
  margin-top: 40px;
  padding-right: 100px; 
  padding-left: 100px;
  text-align: center;
}

.speech {
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  align-items: center
}
